plugin: vmware_vm_inventory
strict: False
hostname: labvc.dcloud.cisco.com
username: "administrator@vsphere.local"
password: "C1sco12345!"
validate_certs: False
with_nested_properties: true
use_extra_vars: True
with_tags: True
hostnames:
- config.name
keyed_groups:
- key: tags
  prefix: "vm_tag_"
  separator: ""
filters:
- "'siwapp' in tags"
- "'${vm_name}' in config.name"