variable "vcenter_user" {
  description = "vcenter username"
  type        = string
  default     = "{{ vc_username }}"
}

variable "vcenter_server" {
  description = "vcenter server"
  type        = string
  default     = "{{ vc_server }}"
  
}

variable "vcenter_pass" {
  description = "vcenter password"
  type        = string
  default     = "{{ vc_password }}"
  
}

variable "cco_password" {
  description = "new password for root account"
  type        = string
  default     = "{{ linux_pass }}"
}

variable "activation_key" {
  description = "User Activation Key for Cisco Secure Workload"
  type = string
{% if activation_key is defined %}
  default     = "{{ csw_activation_key }}"
{% else %}
  default     = "DontDoDrugs"
{% endif %}
}

variable "cco_username" {
  description = "CCO Username for folder buildout"
  type        = string
  default     = "{{ dir_name }}"
}

variable "application_name" {
  description = "Name you wish your application to use"
  type        = string
  default = "siwapp"
}

data "vsphere_datacenter" "dc" {
  name = "{{ vcenter_dc }}"
}

data "vsphere_datastore" "datastore" {
  name          = "{{ vcenter_datastore }}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

data "vsphere_compute_cluster" "compute_cluster" {
  name          = "{{ vcenter_cluster }}"
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}

data "vsphere_network" "automation_net" {
  name          = "{{ vcenter_network }}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

data "vsphere_distributed_virtual_switch" "vds" {
  name          = "{{ vcenter_vds }}" 
  datacenter_id = "${data.vsphere_datacenter.dc.id}"
}

variable "siwapp_folder_name" {
  description = "Folder for Siwapp in vcenter"
  type        = string
  default     = "siwapp"
}

variable "domain" {
  description = "domain name for deployment"
  type        = string
  default     = "{{ domain_name }}"
}

data "vsphere_virtual_machine" "template" {
  name          = "centos7_base"
  datacenter_id = data.vsphere_datacenter.dc.id
}

variable "dns_server" {
    description = "DNS IP"
    type        = string
    default     = "{{ dns_ip }}"
}

## Reading in vCenter tag and tag category information - these are pre-created in vCenter ##

data "vsphere_tag_category" "function_tc" {
  name = "Function"
}

data "vsphere_tag_category" "application_tc" {
  name = "Application"
}

data "vsphere_tag_category" "isPrimary_tc" {
  name = "isPrimary"
}

data "vsphere_tag" "siwapp_tag" {
  name        = "siwapp"
  category_id = "${data.vsphere_tag_category.application_tc.id}"
}

data "vsphere_tag" "app_tag" {
  name        = "app"
  category_id = "${data.vsphere_tag_category.function_tc.id}"
}

data "vsphere_tag" "db_tag" {
  name        = "db"
  category_id = "${data.vsphere_tag_category.function_tc.id}"
}

data "vsphere_tag" "db_lb_tag" {
  name        = "db-lb"
  category_id = "${data.vsphere_tag_category.function_tc.id}"
}

data "vsphere_tag" "app_lb_tag" {
  name        = "app-lb"
  category_id = "${data.vsphere_tag_category.function_tc.id}"
}

data "vsphere_tag" "loadsim_tag" {
  name        = "loadsim"
  category_id = "${data.vsphere_tag_category.function_tc.id}"
}

data "vsphere_tag" "lead_tag" {
  name        = "true"
  category_id = "${data.vsphere_tag_category.isPrimary_tc.id}"
}
