apiVersion: v1
kind: Secret
metadata:
  name: siwapp-loadgen
type: Opaque
stringData:
  VC_URL: {{ vc_server }}
  VC_USER: {{ vc_username }}
  VC_PW: {{ vc_password }}
  VM_NAME_FILTER: -app-lb
  SIWAPP_USER: siwapp
  SIWAPP_PW: siwapp